<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot.mapper.primary.ShareMapper">



    <select id="getEmpByShareid" resultType="com.atguigu.springboot.bean.SharePo">
        SELECT * FROM share WHERE shareid=#{shareid}
    </select>

    <select id="selectList" resultType="com.atguigu.springboot.bean.SharePo">
        select * FROM share
    </select>

    <insert id="insertShare" parameterType="com.atguigu.springboot.bean.SharePo">
        INSERT INTO share(shareid,companyname,companyshort,sharecode,sharename) VALUES (#{shareid},#{companyname},#{companyshort},#{sharecode},#{sharename})
    </insert>

    <update id="updateShart">
        UPDATE share set companyname=#{companyname} where shareid=#{shareid}
    </update>
</mapper>